li{
    list-style: none;
}
*{
    padding: 0;
    margin: 0;
}

.box{
    width:100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}
.top{
    width:100%;
    height:40VH;
    color:white;
    border-bottom-left-radius: 50%;
    background-color: rgb(255, 123, 92);
    overflow: hidden;
    border-bottom-right-radius: 50%;
}
.box h3{
    font-size: 3VH;
    margin: 5% 0;
}
.box h2{
    font-size: 4VH;
    margin: 5% 0;
}
.add{
    display: flex;
    margin-left:90%;
    margin-top:-10%;
}
.log{
    width:15%;
    height: 15%;
}
.buttom{
    width:100%;
    height: 45vh;
}
.title{
    width: 100%;
    height: 8vh;
    display: flex;
    font-size: 2vh;
    text-align: center;
    padding: 0 1vh;
}
.title li{
    width: 15%;
    line-height: 8vh;
}
.title li:nth-child(1) p{
    width:60%;
    border-bottom: 5px solid #3f98e4;
}
.title li p:hover{
    width:60%;
    border-bottom: 5px solid #3f98e4;
}
.title li p{
    width:60%;
}
ol{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}
ol li{
    width:25%;
    height: 10vh;
    text-align: center;
    font-size: 2vh;
}
ol li p,ol li img{
    display: inline-block;
    margin-top: 1vh;
}
.footed{
    width: 100%;
    height: 6vh;
    margin-top: 5vh;
    padding: 1vh 0;
    border-top: 0.1vh solid #bdbdbd;
}
.footed ul{
    display: flex;
    text-align: center;
}
.footed ul li{
    width:22vh;
    height: 9vh;
    font-size: 2vh;
}
.footed ul li p{
    margin-top: 1vh;
}